.hidden {
  display: none !important;
}

.modal-container {
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(194, 194, 194, 0.7);
}

.modal-container .close {
  cursor: pointer;
  font-size: 2rem;
}

.movie-details-card {
  width: 55rem;
  background-color: white;
}

.movie-details-card .header .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: whitesmoke;
  padding: 1rem 1rem 0.5rem 1rem;
}

.movie-details-card .header .title {
  font-size: 2.5rem;
  font-weight: 800;
}

.movie-details-card .header .meta-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.5rem;
  padding: 0 1rem;
}

.movie-details-card .header .meta-data-container .primary-meta-data-container,
.movie-details-card .header .meta-data-container .actors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  font-weight: 800;
}

.movie-details-card .header .meta-data-container .primary-meta-data-container div {
  margin-right: 0.75rem;
}

.movie-details-card .header .meta-data-container .actors-container div {
  margin-left: 0.75rem;
}

.movie-details-card .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
}

.movie-details-card .main img {
  margin-right: 1rem;
}

.movie-details-card .main .genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 0;
}

.movie-details-card .main .genres .genre {
  border: 1px solid #c2c2c2;
  padding: 0.25rem 0.5rem;
  color: #757575;
  margin-right: 0.5rem;
}

:root {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 14px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header.header,
.container {
  margin: 1rem;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem 0;
}

.search-container .search-input,
.search-container .search {
  margin-right: 0.5rem;
}

.pagination-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  border: 1px solid #cc0000;
  padding: 0.5rem;
  background: white;
  color: #cc0000;
}

.btn-search {
  font-size: 1.3rem;
}

.btn:hover {
  cursor: pointer;
  color: white;
  background: #cc0000;
}

.btn:disabled {
  cursor: not-allowed;
}

.search-input {
  padding: 0.5rem;
  font-size: 1.3rem;
  border: 1px solid #c2c2c2;
}

.search-input:focus {
  border: 1px solid #757575;
  outline: none;
}

.movie-cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.movie-card {
  border: 1px solid #c2c2c2;
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.25rem;
}

.movie-card:first-child {
  border-top: 1px solid #c2c2c2;
}

.movie-card:nth-child(2n) {
  background-color: whitesmoke;
}

.movie-card:hover {
  background-color: #c2c2c2;
  cursor: pointer;
}

.movie-card .type::first-letter {
  text-transform: capitalize;
}

.movie-card img {
  height: 4rem;
}

.movie-card .meta-data {
  padding-left: 0.5rem;
}

.movie-card .meta-data .title {
  font-size: 1rem;
  font-weight: 800;
}

.movie-card .meta-data .year,
.movie-card .meta-data .type {
  font-size: 0.8rem;
}
