.modal-container {
  position: absolute;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $modal-background;

  .close {
    cursor: pointer;
    font-size: 2rem;
  }
}

.movie-details-card {
  width: 55rem;
  background-color: white;

  .header {
    .title-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      background-color: $lightest-gray;
      padding: 1rem 1rem 0.5rem 1rem;
    }

    .title {
      font-size: 2.5rem;
      font-weight: 800;
    }

    .meta-data-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 2.5rem;
      padding: 0 1rem;

      .primary-meta-data-container,
      .actors-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 800;
      }

      .primary-meta-data-container {
        div {
          margin-right: 0.75rem;
        }
      }
      .actors-container {
        div {
          margin-left: 0.75rem;
        }
      }
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;

    img {
      margin-right: 1rem;
      max-width: 22rem;
    }

    .genres {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem 0;

      .genre {
        border: 1px solid $light-gray;
        padding: 0.25rem 0.5rem;
        color: $medium-gray;
        margin-right: 0.5rem;
      }
    }
  }
}
