//Variables
$lightest-gray: hsl(0, 0%, 96%);
$modal-background: hsla(0, 0%, 76%, 0.7);
$light-gray: hsl(0, 0%, 76%);
$medium-gray: hsl(0, 0%, 46%);
$dark-gray: hsl(0, 0%, 5%);
$animation-duration: 200ms;
$animation-timing-curve: ease-in-out;
