@import "variables";
@import "utilities";
@import "movie-details";

:root {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header.header,
.container {
  margin: 1rem;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;

  .search-input,
  .search {
    margin-right: 0.5rem;
  }

  .message {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;

  div:first-child {
    margin-right: 1rem;
  }

  .results-meta-data {
    width: 16rem;
  }
}

.pagination-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 1px solid $accent-color;
  padding: 0.5rem 1rem;
  background: white;
  color: $accent-color;

  &-search {
    font-size: 1.3rem;
  }

  &:hover,
  &-active {
    cursor: pointer;
    color: white;
    background: $accent-color;
  }

  &:disabled {
    cursor: not-allowed;
    color: $light-gray;
    border: 1px solid $light-gray;
    background: white;
  }

  &-pagination {
    margin: 0 0.25rem;
  }
}

.search-input {
  padding: 0.5rem;
  font-size: 1.3rem;
  border: 1px solid $light-gray;
}

.search-input:focus {
  border: 1px solid $accent-color;
  outline: none;
}

.movie-cards-container {
  display: grid;
  grid-template-columns: 1fr;
}

.movie-card {
  border: 1px solid $light-gray;
  border-top: 0;
  display: flex;
  flex-direction: row;
  padding: 0.25rem;

  &:first-child {
    border-top: 1px solid $light-gray;
  }

  &:nth-child(2n) {
    background-color: $lightest-gray;
  }

  &:hover {
    background-color: $light-gray;
    cursor: pointer;
  }

  .type::first-letter {
    text-transform: capitalize;
  }

  img {
    height: 4rem;
  }

  .meta-data {
    padding-left: 0.5rem;

    .title {
      font-size: 1rem;
      font-weight: 800;
    }

    .year,
    .type {
      font-size: 0.8rem;
    }
  }
}
