@import "variables";
@import "utilities";
@import "movie-details";

:root {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header.header,
.container {
  margin: 1rem;
}
.movie-cards-container {
  display: grid;
  grid-template-columns: 1fr;
}

.movie-card {
  border: 1px solid $light-gray;
  border-top: 0;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;

  &:first-child {
    border-top: 1px solid $light-gray;
  }

  &:nth-child(2n) {
    background-color: $lightest-gray;
  }

  &:hover {
    background-color: $light-gray;
    cursor: pointer;
  }

  .type::first-letter {
    text-transform: capitalize;
  }

  img {
    height: 5rem;
  }

  .meta-data {
    padding-left: 0.5rem;

    .title {
      font-size: 1.2rem;
      font-weight: 800;
    }
  }
}
